@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    user-select: none;
}

body {
background-color: aqua;
}
#container {
    margin: 15vh auto;
    width: 350px;
    background-coor: blue;
    text-align: center;
    
color: white;
font-family:Digital ;


}
#result {
    color: blue;
    font-weight: bolder;
}
.sign {
    /* width: 20px;
    height: 20px;
    border: 1px solid black; */
}
#decimal{
    /* width: 20px;
    height: 20px;
    border: 1px solid black; */
}

.button_number{
    /* width: 20px;
    height: 20px;
    border: 1px solid black; */
}
    


.btn-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;
    background-color: aqua;
    gap: 8px 8px;
    margin-top: 3px;
    padding-top: 7px;
    border: none;

    
    

}
.btn {
    color: white;
    background-color: black;
    height:60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(198, 239, 117);
    border: none;
    font-size: 18px;
    cursor: pointer;


    
    
    
}
 #back {
    background-color: brown;
 }

#clear {
    cursor: pointer;
    column-span: 2;
    border: none;
    box-shadow: 3px 3px 6px rgb(198, 239, 117);
}

#display-box {
    white-space: initial;
    text-align: end;
    
    border-radius:9px ;
    font-size: 1.4rem;
    padding: 10px 10px ;
    background-color: rgba(41, 18, 18, 0.83);
    height: 80px;

}
#display {
   font-size: 2.3rem; 
   padding-top: 12px;
    
   
    

}

.sign {
    background-color: rgba(167, 99, 99, 0.684);
    font-size: 22px;
}

#clear {
    border-radius: 50%;
    grid-column: span 2;
    font-size: 18px;
    
}

#subtract {
    background-color: rgba(167, 99, 99, 0.684);
    font-size: 30px;

}
#add {
    font-siz: 30px;
}

#equals {
    grid-column: span 2;
    colr: blue;
    background-color: blue;
}


@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    #container {
        
        padding: 20px;
    }

    .btn-box {
        gap: 10px;
    }

  }
  